@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  line-height: 1;
  vertical-align: bottom;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/* レイアウト */
/* .container */
.container{
  width: 960px;
  margin: 0 auto;
  /* border: 1px solid #000; */
}

.wrapper{
  display: flex;
}

/* セクショニング */
/* header */
header{
  background-image: url(../img/herb_header_image.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 200px;
  margin-bottom: 40px;
  color: #fff;
  text-align: right;
  padding-right: 20px;
}

header>h1{
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 45px;
  letter-spacing: 6px;
}

/* nav */
nav{
  margin-bottom: 50px;
}

nav>ul{
  display: flex;
  background-color: #090;
}

nav ul li{
  width: 20%;
  height: 50px;
  justify-content: space-evenly;
}

nav ul li a{
  display: block;
  line-height: 50px;
  color: #fff;
  text-align: center;
  border-left: 1px solid #fff;
  letter-spacing: 2px;
}

nav ul li:first-of-type a{
  border-left: 0px;
}

nav li a:hover{
  background: #f60;
}

/* main */
main{
  margin-bottom: 40px;
}

/* section */
 main section{
   width: 48%;
  }

.wrapper{
  display: flex;
  justify-content: space-between;
}

main h2{
  border-left: 12px solid #66cc66;
  padding: 4px 10px 4px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

main section h3{
  padding: 10px 5px;
  background-color: #33aa36;
  color: #fff;
  margin-bottom: 15px;
}

main section .racipe{
  overflow: hidden;
  margin-bottom: 10px;
}

main section .recipe img{
  float: left;
  margin-right: 10px;
}

main section p{
  line-height: 1.65;
}

/* footer */
footer{
  border-top: 1px solid #33aa36;
  text-align: center;
  padding: 20px 0 50px;
}


/* メディアクエリ 960~768px */
@media (width <= 960px){

  .container{
    width: 100%;
  }

  /* header部分 */
  header{
    background-size: contain; /* 画像全体を横幅いっぱいに表示 */

  }

}/* /メディアクエリ 960~768px */



/* メディアクエリ 768px以下 */
@media (width <= 768px){
  
  /* .container */
  .container{
    width: 100%;
  }
  
  .wrapper{
    display: block;
  }

  /* セクショニング */
  /* header */
  header{
    margin-bottom: 40px;
    background-position: 0 0;
    background-size: cover;
  }
  
  header>h1{
    padding: 20px 0 10px;
    font-size: 34px;
    letter-spacing: 2px;
  }

  header p{
    width: 50%;
    margin-left: auto;
    line-height: 1.5;
    font-size: 14px;
  }
  
  /* nav */
  
  nav>ul{
    display: block;
  }
  
  nav ul li{
    width: 100%;
  }
  
  nav ul li a{
    border-left: 0;
    border-top: 1px solid #fff;
  }

  nav ul li:first-child a{
    border-top: 0;
  }

  
  /* main */
  main{
    padding: 0 16px;
    margin-bottom: 40px;
  }
  
   main section{
     width: 100%;
     margin-bottom: 30px;
    }
  

}/* /メディアクエリ 768px以下 */